body, html { 
    height: 100%;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    font-weight: 800;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ---- HEADER SETTINGS ---- */
header{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
}
.inner-header{
    background-color: lightblue;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

/* ---- MAIN SETTINGS ---- */
main{
    flex: 1;
    display: flex;
    justify-content: center;
}
.inner-main{
    width: 80%;
}
.product-page{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product{
    background-color: grey;
    display: flex;
    flex-direction: column;
}
.product img{
    object-fit: contain;
}
.product a{
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

/* ---- FOOTER SETTINGS ---- */
footer{
    background-color: black;
    height: 100px;
    color: white;
    padding: 50px;
}