body, html { 
    height: 100%;
    margin: 0; 
    padding: 0; 
    font-family: Arial, sans-serif; 
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.register-box {
    border: 1px solid black;
    padding: 10px;
    width: 350px;
    height: 400;
}

.error{
    color: red;
}